package view

templ Navbar() {
<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Read</a>
    <a href="/cards" class="btn btn-link">Cards</a>
  </section>
  <section class="navbar-center">
    <h3>TarotGo</h3>
  </section>
  <section class="navbar-section">
    <a href="https://github.com/oarielg/TarotGo" class="btn btn-link">GitHub</a>
  </section>
</header>
}